/* xs */
/* 475px */
/* @media (min-width: 29.6875rem) {} */

/* sm */
/* 640px */
/* @media (min-width: 40rem) {} */

/* md */
/* 768px */
/* @media (min-width: 48rem) {} */

/* lg */
/* 1024px */
/* @media (min-width: 64rem) {} */

/* xl */
/* 1280px */
/* @media (min-width: 80rem) {} */

/* 2xl */
/* 1536px */
/* @media (min-width: 96rem) {} */

:root {
    /* colors */
    --clr-dark: #000;
    --clr-light: #f9fafb;
    --clr-gray: #bbb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
    font: inherit;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: var(--clr-light);
    overflow-x: hidden;
}

img,
video,
svg {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* / XS / */
@media (min-width: 29.6875rem) {
    .container {
        max-width: 29.6875rem;
    }
}

/* / SM / */
@media (min-width: 40rem) {
    .container {
        max-width: 40rem;
    }
}

/* / MD / */
@media (min-width: 48rem) {
    .container {
        max-width: 48rem;
    }
}

/* / LG / */
@media (min-width: 64rem) {
    .container {
        max-width: 64rem;
    }
}

/* / XL / */
@media (min-width: 80rem) {
    .container {
        max-width: 80rem;
    }
}

/* / XXL / */
@media (min-width: 96rem) {
    .container {
        max-width: 96rem;
    }
}

@media (min-width: 110rem) {
    .container {
        max-width: 110rem;
    }
}
